body {
  font-family: sans-serif;
  padding: 20px;
  background: #f3f3f3;
}

h1 {
  color: #333;
}

.post {
  background: white;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}
